.project-image {
}
.project {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
  align-items: center;
}
.project-links {
  margin: 0 auto;
}
@media (width >= 768px) {
  .project {
    display: flex;
    flex-direction: row-reverse;
  }
  .project-image {
    max-width: 640px;
  }
}
