.footer {
  border-top: 1px;
}

.footer-content {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.button {
  appearance: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  border-radius: calc(var(--radius) - 2px);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:disabled {
  opacity: 50%;
}

.button-ghost {
}

.button-ghost:hover {
  background-color: var(--accent);
  color: var(--accent-foreground);
}

.button-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.button-link {
  color: var(--primary);
  text-underline-offset: 4px;
}

.button-link:hover {
  text-decoration-line: underline;
}

.button-sm {
  height: 2.25rem;
  border-radius: calc(var(--radius) - 2px);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.footer-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.footer-copyright {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 2;
  color: var(--muted-foreground);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (width >= 768px) {
  .footer-content {
    height: 6rem;
    flex-direction: row;
    padding: 0;
  }
  .footer-buttons {
    flex-direction: row;
    gap: 0.5rem;
    padding: 0;
  }
  .footer-copyright: {
    text-align: left;
  }
  .footer-nav {
    flex-direction: row;
    gap: 0.5rem;
  }
}
