/* navbar */
.navbar {
  background-color: hsl(var(--muted));
  color: hsl(var(--muted-foreground));
  display: flex;
  justify-content: space-between;
  border-bottom-color: hsl(var(--border));
  border-bottom-width: 1px;
  padding: 0.5rem;
  height: 70px;
  align-items: center;
}

.navbar-brand {
  flex-shrink: 0;
  font-weight: bold;
  align-self: center;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media (width < 768px) {
  .navbar-brand {
    margin-bottom: 1rem;
  }

  .navbar {
    flex-direction: column;
    justify-content: center;
  }
}
